{% load static %}

<div class="comments-area" id="comments">
   <h4>{{ article.comments.all.count }} Comments</h4>
   {% for comm in article.comments.all %}
   {% if comm.is_moderated %}
   <div class="comment-list">
      <div class="single-comment justify-content-between d-flex">
         <div class="user justify-content-between d-flex">
            <div class="desc">
               <p class="comment">
                  {{ comm.comment }}
               </p>
               <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                     <h5>
                        <a href="{{ comm.website }}">{{ comm.name|title }}</a>
                     </h5>
                     <p class="date">{{ comm.pub_date }} </p>
                  </div>
                  <div class="reply-btn">
                     <a href="#reply" class="btn-reply text-uppercase">reply</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endif %}
   {% endfor %}
</div>

<div class="comment-form" id="reply">
   {% if messages %}
     {% for message in messages %}
      <p style="color:green;">{{ message }}</p>
     {% endfor %}
   {% endif %}
   <h4>Leave a Reply</h4>
   <form class="form-contact comment_form" action="#reply" method="post" id="commentForm">
      {% csrf_token %}
      <div class="row">
         <div class="col-12">
            <div class="form-group">
               {{ form.comment.errors }}
               <textarea class="form-control w-100" name="comment" id="comment"
                         required cols="30" rows="9"
                         placeholder="Write Comment">{% if form.comment.value %}{{ form.comment.value }}{% endif %}</textarea>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="form-group">
               {{ form.name.errors }}
               <input class="form-control" name="name" id="name" required type="text" placeholder="Name"
                      {% if form.name.value %}
                      value="{{ form.name.value }}"
                      {% endif %}>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="form-group">
               {{ form.email.errors }}
               <input class="form-control" name="email" id="email" required type="email" placeholder="Email"
                      {% if form.email.value %}
                      value="{{ form.email.value }}"
                      {% endif %}>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               {{ form.website.errors }}
               <input class="form-control" name="website" id="website" type="text" placeholder="Website"
                      {% if form.website.value %}
                      value="{{ form.website.value }}"
                      {% endif %}>
            </div>
         </div>
      </div>
      <div class="form-group">
         <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
      </div>
   </form>
</div>