{% load static %}

<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">
            <form action="{% url 'search' %}" method="get">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name='q'
                            placeholder='Search Keyword'
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Search Keyword'">
                        <input type="submit" content="Search">
                    </div>
                </div>
            </form>
        </aside>

        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Category</h4>
            <ul class="list cat-list">
                {% for cat in menu_categories %}
                <li>
                    <a href="{% url 'category' cat.slug %}" class="d-flex">
                        <p>{{ cat.name }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </aside>

        <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Recent Posts</h3>
            {% for article in recent_posts %}
            <div class="media post_item">
                <div class="media-body">
                    <a href="{% url 'article' article.slug %}">
                        <h3>{{ article.name }}</h3>
                    </a>
                    <p>{{ article.pub_date }}</p>
                </div>
            </div>
            {% endfor %}
        </aside>

        <aside class="single_sidebar_widget newsletter_widget">
            <h4 class="widget_title">Newsletter</h4>

            <form action="{% url 'subscribe' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="email" class="form-control" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required
                           {% if subscribe.email.value %}
                           value="{{ subscribe.email.value }}"
                           {% endif%}>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Subscribe</button>
            </form>
        </aside>
    </div>
</div>