{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <h1>Latest News</h1>
                    {% for article in last_articles %}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ article.main_image.url }}" alt="">
                            <a href="{% url 'article' article.slug %}" class="blog_item_date">
                                <p>{{ article.pub_date }}</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="{% url 'article' article.slug %}">
                                <h2>{{ article.name }}</h2>
                            </a>
                            <p>{{ article.short_description }}</p>

                            <ul class="blog-info-link">
                                    <li>
                                        {% for cat in article.categories.all %}
                                         <a href="{% url 'category' cat.slug %}"><i class="fa fa-user"></i>{{ cat.name }}</a></li>
                                        {% endfor %}
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    {% endfor %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% include 'partials/sidebar.html' %}
        </div>
    </div>
</section>
{% endblock content %}


